@import url('./__title/card__title.css');
@import url('./__image/card__image.css');
@import url('./__description/card__description.css');
@import url('./__menu/card__menu.css');
@import url('./__menu-item/card__menu-item.css');
@import url('./__link/card__link.css');

.card {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
