@import url('./__title/card__title.css');
@import url('./__subtitle/card__subtitle.css');
@import url('./__image/card__image.css');
@import url('./__overlay/card__overlay.css');
@import url('./__link/card__link.css');

.card {
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
